<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <span>Top Content</span>
  </ion-item>
  <ion-content class="topcontent">
    <ion-item *ngFor="let item of items.cars">
      <ion-grid>
        <ion-row no-margin>
          <ion-col size="4">
            {{ item.name }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-content>
  <ion-item>
    <span>Bottom Content</span>
  </ion-item>
  <ion-content class="bottomcontent">
    <ion-item *ngFor="let item of items.bikes">
      <ion-grid>
        <ion-row no-margin>
          <ion-col size="4">
            {{ item.name }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-content>
</ion-content>
